/** Feed Stoa */


#container {
  margin: 12px 6px 6px 6px;
  padding: 6px 12px;

}


.input_label_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

