/** Place holder */


#input_feed_copyright {
  width: 400px;
  height: 40px;
}

#input_feed_title {
  width: 400px;
  height: 40px;
}

#input_feed_description {
    width: 650px;
    height: 150px;
}
